<header>
   <div class="landingimg"></div>
   <h1 class="landingh1">Stammeslager 2019</h1>
   <a class="landing" (click)="scrollToContent()">
      <button>melde dich jetzt an!</button>
   </a>
</header>
<main>
   <section id="zeltlager" class="text">
      <h1>Hüttenlager 2019</h1>
      <p>Hiermit laden wir euch herzlich zu unserem diesjährigen Stammeslager ein.<br>
         Dieses findet vom <span style="font-weight: bold">13. bis zum 17. April</span> im Feriendorf Wildflecken statt.
         Hast du Lust auf
         Spiele Spaß und Abenteuer? Dann melde dich gleich an und verbringe eine Woche mit deinen Freunden und ohne
         Eltern.
      </p>
   </section>

   <div id="map">
      <iframe
         src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d193808.2737101535!2d9.67509718791675!3d50.42716798707025!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47a31886549ee7ed%3A0xdd23de6f7252d332!2sCVJM+Feriendorf+Wildflecken!5e1!3m2!1sde!2sde!4v1549098521813"
         width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
   </div>
   <p style="font-size: 0.9rem; margin: auto; max-width: 60rem; width: 90%;">
      CVJM Feriendorf Wildflecken<br>
      Wilhelmshavener Str. 9<br>
      977772 Wildflecken
   </p>

   <section class="text">
      <p>
         Los geht es am 13. April um 13:00 Uhr in St. Otto, bitte seid pünktlich, da wir gesammelt
         los fahren und einige Zeit unterwegs sind.
      </p>
      <p>
         Unsere Rückkehr am 17. April ist am Platz um 14:00 Uhr geplant. Wir werden daher um
         ca. 16:30 Uhr wieder in St. Otto sein.
      </p>
      <p>
         Da wir leider nur eine begrenzte Anzahl an Leitern sind und einen reibungslosen Ablauf garantieren wollen,
         ist die Teilnehmerzahl auf 60 Personen begrenzt. Der Teilnehmerbetrag beträgt 100€
      </p>
      <p>
         Der Anmeldeschluss ist der 24.03.2019. Bitte füllen Sie das Anmeldeformular komplett aus. Alle weiten
         Informationen bekommen Sie danach per E-Mail an die angegebene E-Mail-Adresse.
      </p>
      <p>
         Die Anmeldung ist gültig, sofern der Teilnehmerbeitrag auf das angegebene Konto
         überwiesen wurde und von unserer Seite bestätigt wurde.
      </p>
   </section>

   <section id="faq" class="text">
      <h1>FAQ</h1>
      <button class="accordion">Was muss mein Kind mitnehmen?</button>
      <div class="panel">
         <p>Natürlich braucht man für das Abenteuer auch die richtige Ausrüstung. Hier finden sie eine Packliste mit
            allen nötigen Dingen, die nicht fehlen dürfen. (<a href="/api/zeltlager/packliste">Packliste.pdf</a>)</p>
      </div>

      <button class="accordion">Wieso ist das Lager so teuer?</button>
      <div class="panel">
         <p>
            Auf der Stammesversammlung 2017 wurde ein Lager im Ausland gewünscht, dass wir
            aufgrund des hohen Planungsaufwandes noch nicht realisieren konnten. Allerdings war
            der Wunsch deutlich mal weiter weg zu fahren und das idyllische Franken etwas weiter
            hinter sich zu lassen. Dem Wunsch sind wir nachgekommen und fahren in den äußersten
            Teil Bayerns, in die Rhön. Da wir aufgrund der Jahreszeit, die dieses Jahr den einzig
            möglichen Zeitraum für ein Stammeslager bietet, in Häusern statt in Zelten Schlafen, sind
            die Übernachtungskosten auch entsprechend höher. Natürlich ist das Lager so kalkuliert,
            dass es für uns keinen Profit abwirft und somit nur so teuer wie nötig ist. Sollte aber der
            Teilnehmerbeitrag auf vor allem bei einkommensschwachen Familien ein zu große
            Hürde darstellen, sprecht uns bitte darauf an und wir suchen gemeinsam nach einer
            Lösung.
         </p>
      </div>

      <button class="accordion">Was macht ihr dieses Jahr auf dem Lager?</button>
      <div class="panel">
         <p>
            Das Programm wir noch ausgefeilt, aber es gibt schon viele tolle Ideen. Unser Angebot
            reicht von kleinen Workshops mit Basteleien bis hin zu halbtägigen Programm.
            Außerdem werden wir uns natürlich auch mit den Klassikern, wie Wanderungen und
            großgruppenspielen auf dem Platz die Zeit vertreiben. Nähere Infos folgen in kürze.
         </p>
      </div>

      <button class="accordion">Wer darf alles mit?</button>
      <div class="panel">
         <p>
            Da wir sowohl vom Haus als auch von der Betreuerzahl limitiert sind, haben wir aktuell
            eine maximale Teilnehmerzahl von 60 Kindern. Wir möchten den Kindern, die
            regelmäßig unsere Aktionen besuchen nicht benachteiligen, da vor allem diese
            Kinder eine engere Beziehung zu den Kindern und Leitern von St. Otto haben, gibt es die
            Frühbucherphase. Ist diese Abgeschlossen öffnen wir das Anmeldeverfahren auch für
            Kinder und Jugendliche, die Freunde sind oder einfach nur gerne mal auf eine Freizeit
            fahren möchten. Dabei spielt es keine Rolle ob aus Laufamholz oder Mögeldorf.
         </p>
      </div>

      <button class="accordion">Ab wann ist mein Kind angemeldet?</button>
      <div class="panel">
         <p>
            Nach Anmeldung versenden wir einen Infobrief in dem die Zahlungsmodalitäten und
            Teilnahmebedingungen stehen. Die Anmeldung ist dann nach Zahlungseingang gültig.
         </p>
      </div>
   </section>


   <section>
      <h1>Noch Fragen?</h1>
      <form id="questionForm" [formGroup]="questionForm" (ngSubmit)="sendQuestion(questionForm.value)"
         autocomplete="off">
         <div class="firsthalfgrid">
            <label>Name:</label>
            <input type="text" formControlName="questionName" placeholder="Name">
            <div class="hint-text"
               *ngIf="!questionForm.controls['questionName'].valid && questionForm.controls['questionName'].touched">
               Geben Sie ihren Namen an.
            </div>
         </div>
         <div class="secondhalfgrid">
            <label>E-Mail:</label>
            <input type="email" formControlName="questionEmail" placeholder="E-M@il">
            <div class="hint-text"
               *ngIf="!questionForm.controls['questionEmail'].valid && questionForm.controls['questionEmail'].touched">
               Geben Sie ihre E-Mail Adresse an.
            </div>
         </div>
         <div class="fullgrid">
            <label>Frage:</label>
            <textarea formControlName="question" cols="89" rows="10" value=""></textarea>
            <div class="hint-text"
               *ngIf="!questionForm.controls['question'].valid && questionForm.controls['question'].touched">
               Geben Sie ihre Frage ein.
            </div>
         </div>
         <button class="submit grid-start griditem" type="submit" [disabled]="!questionForm.valid">Frage senden</button>
      </form>
   </section>

   <div id="confettiCanon1"></div>
   <section id="anmeldung">
      <h1>Anmeldung</h1>
      <form id="registrationForm" [formGroup]="registrationForm" (ngSubmit)="sendRegistration(registrationForm.value)"
         autocomplete="off">
         <div class="firsthalfgrid">
            <label>Vorname:</label>
            <input type="text" formControlName="firstname" placeholder="Vorname">
            <div class="hint-text"
               *ngIf="!registrationForm.controls['firstname'].valid && registrationForm.controls['firstname'].touched">
               Geben Sie den Vornamen des Kindes an.
            </div>
         </div>
         <div class="secondhalfgrid">
            <label>Nachname:</label>
            <input type="text" formControlName="lastname" placeholder="Nachname">
            <div class="hint-text lastname"
               *ngIf="!registrationForm.controls['lastname'].valid && registrationForm.controls['lastname'].touched">
               Geben Sie den Nachnamen des Kindes an.
            </div>
         </div>
         <div class="firsthalfgrid">
            <label>Geboren am:</label>
            <input type="date" formControlName="birthday">
            <div class="hint-text birthday"
               *ngIf="!registrationForm.controls['birthday'].valid && registrationForm.controls['birthday'].touched">
               Geben Sie das Geburtsdatum des Kindes an.
            </div>
         </div>
         <div class="firsthalfgrid">
            <label>Adresse</label>
            <input type="text" formControlName="address" placeholder="Straße, Hausnummer">
            <div class="hint-text address"
               *ngIf="!registrationForm.controls['address'].valid && registrationForm.controls['address'].touched">
               Geben Sie Ihre Adresse an.
            </div>
         </div>
         <div class="griditem">
            <label>Postleitzahl:</label>
            <input type="text" formControlName="postcode" placeholder="PLZ" maxlength="5">
            <div class="hint-text plz"
               *ngIf="!registrationForm.controls['postcode'].valid && registrationForm.controls['postcode'].touched">
               Geben Sie eine gültige Postleitzahl an.
            </div>
         </div>
         <div class="griditem">
            <label>Stadt</label>
            <input type="text" formControlName="city" placeholder="Stadt">
            <div class="hint-text city"
               *ngIf="!registrationForm.controls['city'].valid && registrationForm.controls['city'].touched">
               Geben Sie die zugehörige Stadt an.
            </div>
         </div>
         <div class="firsthalfgrid">
            <label>Telefonnummer:</label>
            <input type="tel" formControlName="telefon" placeholder="Telefonnummer">
            <div class="hint-text tel"
               *ngIf="!registrationForm.controls['telefon'].valid && registrationForm.controls['telefon'].touched">
               Geben Sie ihre Telefonnummer an.
            </div>
         </div>
         <div class="secondhalfgrid">
            <label>E-Mail Adresse</label>
            <input type="email" formControlName="email" placeholder="E-M@il">
            <div class="hint-text email"
               *ngIf="!registrationForm.controls['email'].valid && registrationForm.controls['email'].touched">
               Geben Sie ihre E-Mail Adresse an.
            </div>
         </div>
         <div class="firsthalfgrid">
            <label>Medikamente<span class="optional">optional</span></label>
            <textarea formControlName="medicine" cols="89" rows="5"></textarea>
         </div>
         <div class="firsthalfgrid">
            <label>Krankenversichert über</label>
            <input type="text" formControlName="insurant" placeholder="Name">
            <div class="hint-text name"
               *ngIf="!registrationForm.controls['insurant'].valid && registrationForm.controls['insurant'].touched">
               Name des Elternteils über das das Kind versichert ist.
            </div>
         </div>
         <div class="secondhalfgrid">
            <label>Krankenversicherung</label>
            <input type="text" formControlName="insurance" placeholder="Krankenversicherung">
            <div class="hint-text versicherung"
               *ngIf="!registrationForm.controls['insurance'].valid && registrationForm.controls['insurance'].touched">
               Geben Sie die Krankenversicherung des Kindes an.
            </div>
         </div>
         <div class="firsthalfgrid">
            <p>
               <label>Mein Kind ist ...</label>
               <input type="radio" formControlName="canSwim" value="yes" checked>Schwimmer
               <input type="radio" formControlName="canSwim" value="no">Nichtschwimmer
            </p>
            <p>
               <label>Essgewohnheiten<span class="optional">optional</span></label>
               <input type="checkbox" formControlName="isVegetarian" value="yes">Vegetarier
               <input type="checkbox" formControlName="isVegan" value="yes">Veganer
            </p>
         </div>
         <div class="secondhalfgrid">
            <label>Sonstiges<span class="optional">optional</span></label>
            <textarea formControlName="misc" cols="89" rows="5"></textarea>
         </div>
         <div class="firsthalfgrid">
            <label>Wir können bei der Anreise <span
                  class="bold">{{registrationForm.controls['passengersArrival'].value}}</span>
               Personen mitnehmen</label>
            <input id="counterAnfahrt" formControlName="passengersArrival" type="number" min="0" max="10" value="0">
            <div class="hint-text versicherung"
               *ngIf="!registrationForm.controls['passengersArrival'].valid && registrationForm.controls['passengersArrival'].touched">
               Geben Sie die Anzahl an Personen an die sie hinbringen können.
            </div>
         </div>
         <div class="firsthalfgrid">
            <label>Wir können auf der Heimreise <span
                  class="bold">{{registrationForm.controls['passengersDeparture'].value}}</span>
               Personen
               mitnehmen</label>
            <input id="counterAbfahrt" formControlName="passengersDeparture" type="number" min="0" max="10" value="0">
            <div class="hint-text versicherung"
               *ngIf="!registrationForm.controls['passengersDeparture'].valid && registrationForm.controls['passengersDeparture'].touched">
               Geben Sie die Anzahl an Personen an die sie zurückbringen können.
            </div>
         </div>
         <button id="registationSubmit" class="submit grid-start griditem" type="submit"
            [disabled]="!registrationForm.valid">Anmelden</button>
      </form>
   </section>
   <div id="confettiCanon2"></div>
</main>