<main class="center-text">
   <div class="text">
      <p>Diese Seite ist ein Hobbyprojekt und deshalb an vielen Stellen noch nicht fertig. </p>
      <p>Auf dieser Webseite werden keine Cookies gesetzt oder sonstige Plugins verwendet die Nutzerdaten speichern
         oder
         Nutzer tracken.
      </p>
      <p>Nur bei der Anmeldung eines Benutzers wird ein Cookie gesetzt, der zur Identifizierung des Nutzers dient,
         damit
         er auf weitere Seiten gelangen kann. Dieser Cookie wird maximal für einen Tag gespeichert. Wenn das Speichern
         von Cookies in ihrem Browser deaktiviert ist, wird der Cookie beim schließen des Browsers gelöscht</p>
   </div>
</main>